.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header {
  display: grid;
  grid-column: 1 / -1;
  width: 100%;
  margin: 0;
  z-index: -1;
}

.title {
  display: grid;
  grid-column: 1 /-1;
  justify-items: center;
  color: black;
}

.logo {
  display: grid;
  grid-column: 2 / 3;
}
